In [4]:
import pandas as pd

# Download and extract data

In [6]:
!kaggle competitions download -c synthetic-image-classification

sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
synimg.zip: Skipping, found more recently modified local copy (use --force to force download)

In [37]:
!unzip -q synimg.zip

# What have we got?

In [7]:
!ls synimg

readme.txt styles.txt test       train

In [8]:
!cat synimg/readme.txt

Synthetic Image Data.
For https://www.kaggle.com/c/synthetic-image-classification
Generated 2019-07-14T12:55:20.588107 by Tim Smith

In [9]:
!cat synimg/styles.txt

Luanda
HongKong
Zurich
Singapore
Geneva
Beijing
Seoul
Sydney
Melbourne
Brisbane

# Check out training data

In [10]:
!ls synimg/train

Beijing   Geneva    Luanda    Seoul     Sydney    data.csv
Brisbane  HongKong  Melbourne Singapore Zurich

In [11]:
train = pd.read_csv('synimg/train/data.csv')

In [12]:
train.head()

,id,style_name,file,filepath
0,1000000,Luanda,train-Luanda-1000000.jpg,synimg/train/Luanda/train-Luanda-1000000.jpg
1,1000001,Luanda,train-Luanda-1000001.jpg,synimg/train/Luanda/train-Luanda-1000001.jpg
2,1000002,Luanda,train-Luanda-1000002.jpg,synimg/train/Luanda/train-Luanda-1000002.jpg
3,1000003,Luanda,train-Luanda-1000003.jpg,synimg/train/Luanda/train-Luanda-1000003.jpg
4,1000004,Luanda,train-Luanda-1000004.jpg,synimg/train/Luanda/train-Luanda-1000004.jpg

In [14]:
train.size

400000

In [15]:
train.groupby('style_name').count()

               id   file  filepath
style_name
Beijing     10000  10000     10000
Brisbane    10000  10000     10000
Geneva      10000  10000     10000
HongKong    10000  10000     10000
Luanda      10000  10000     10000
Melbourne   10000  10000     10000
Seoul       10000  10000     10000
Singapore   10000  10000     10000
Sydney      10000  10000     10000
Zurich      10000  10000     10000

In [5]:
!ls synimg/train/Luanda | head -n2
!ls synimg/train/Brisbane | head -n2

train-Luanda-1000000.jpg
train-Luanda-1000001.jpg
train-Brisbane-1090000.jpg
train-Brisbane-1090001.jpg

Render some images using Markdown:

* train-Luanda-1000000.jpg: ![train-Luanda-1000000.jpg](synimg/train/Luanda/train-Luanda-1000000.jpg)
* train-Luanda-1000001.jpg: ![train-Luanda-1000001.jpg](synimg/train/Luanda/train-Luanda-1000001.jpg)
* train-Brisbane-1090000.jpg: ![train-Brisbane-1090000](synimg/train/Brisbane/train-Brisbane-1090000.jpg)
* train-Brisbane-1090001.jpg: ![train-Brisbane-1090001.jpg](synimg/train/Brisbane/train-Brisbane-1090001.jpg)

# Check out test data

In [58]:
!ls synimg/test

A                D                G                J
B                E                H                data_nostyle.csv
C                F                I

In [59]:
test = pd.read_csv('synimg/test/data_nostyle.csv')

In [60]:
test.head()

        id                file                          filepath
0  9000000  test-A-9000000.jpg  synimg/test/A/test-A-9000000.jpg
1  9000001  test-B-9000001.jpg  synimg/test/B/test-B-9000001.jpg
2  9000002  test-C-9000002.jpg  synimg/test/C/test-C-9000002.jpg
3  9000003  test-D-9000003.jpg  synimg/test/D/test-D-9000003.jpg
4  9000004  test-E-9000004.jpg  synimg/test/E/test-E-9000004.jpg

In [62]:
test.size

60000

In [70]:
!ls synimg/test/A | head -n2
!ls synimg/test/B | head -n2

test-A-9000000.jpg
test-A-9000010.jpg
test-B-9000001.jpg
test-B-9000011.jpg

Render some images using Markdown:

* test-A-9000000.jpg: ![test-A-9000000.jpg](synimg/test/A/test-A-9000000.jpg)
* test-A-9000010.jpg: ![test-A-9000010.jpg](synimg/test/A/test-A-9000010.jpg)
* test-B-9000001.jpg: ![test-B-9000001.jpg](synimg/test/B/test-B-9000001.jpg)
* test-B-9000011.jpg: ![test-B-9000011.jpg](synimg/test/B/test-B-9000011.jpg)